__pycache__/

/venv
/.venv

terraform/.terraform/
.terraform.*
/.modules
terraform.tfvars
terraform.tfstate.backup
*.tfstate
terraform-provider-aws_v5.19.0_x5.exe
/proxy/credentials.py
/gatekeeper/credentials.py
/trusted_host/credentials.py